apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: postgres
spec:
  selector:
    app: postgres
  type: LoadBalancer
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432

