apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: minio
spec:
  selector:
    app: minio
  type: LoadBalancer
  ports:
    - name: api
      port: 9500
      targetPort: 9000
    - name: console
      port: 9501
      targetPort: 9001

