apiVersion: v1
kind: Service
metadata:
  name: moltbot
  namespace: moltbot
  labels:
    app: moltbot
spec:
  type: LoadBalancer
  selector:
    app: moltbot
  ports:
    - name: http
      port: 18791
      targetPort: 18791
      protocol: TCP
